body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #edede9;
    transition: all 0.5s ease-in-out;
}

header {
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom-color: #d5bdaf;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 40px;

	> div {
		display: flex;
		align-items: center;

		> h1 {
			margin: 0;
			margin-top: 2px;
			margin-left: 5px;
			color: red;
			font-family: "Roboto";
			font-size: 20px;
			font-weight: 500;

			> span {
				color: #383838;
			}
		}
	}
}

article {
	margin-top: 20px;
	width: 1000px;
	height: 200px;
	background-color: #d9d9d9;
	border-radius: 16px;
}

main {
	margin-top: 20px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;

	> ul {
		width: 187px;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> li {
			z-index: 3;
			font-family: "Roboto";
			font-size: 20px;
			font-weight: 800;
			cursor: pointer;
		}

		#youtube {
			width: 90px;
			color: #fff;
			margin-left: 5px;
			transition: all 0.3s ease-in-out;
		}

		#rutube {
			color: #000;
			margin-right: 5px;
			transition: all 0.3s ease-in-out;
		}

		> div {
			z-index: 0;
			position: absolute;
			width: 100px;
			height: 30px;
			background-color: red;
			border-radius: 8px;
			transition: all 0.3s ease-in-out;
			transform: scale(1);
		}
	}

	.input {
		margin-top: 16px;
		width: 1000px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> input {
			z-index: 300;
			padding: 0 10px;
			width: 100%;
			height: 46px;
			border-radius: 8px;
			border-style: solid;
			outline-style: none;
			font-family: "Roboto";
			font-size: 20px;
			font-weight: 600;
			background-color: #d9d9d9;
			transition: all 0.2s ease-out;
		}

		> button {
			z-index: 200;
			position: absolute;
			left: calc((100% - 1000px) / 2 + 950px - 20px);
            filter: blur(20px);
            transform: scale(0.1);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			border: none;
			border-radius: 8px;
			background-color: red;
			cursor: pointer;
			transition: all 0.3s ease-out;
		}
	}

	.download {
		width: 1000px;
		margin-top: 20px;
		display: none;
		align-items: flex-start;
		justify-content: space-between;
		padding-bottom: 80px;

		> div {
			width: 940px;
			border-radius: 16px;
			background-color: #d9d9d9;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			> img {
				margin: 10px;
				width: 917.02px;
				border-radius: 8px;
			}

			> p {
				margin: 10px;
				margin-top: 0px;
				font-family: "Roboto";
				font-size: 20px;
				font-weight: 600;
			}
		}

		> button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			border: none;
			background-color: #70e000;
			border-radius: 8px;
			cursor: pointer;
		}
	}
}

footer {
	z-index: 400;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
	background-color: #d9d9d9;

	> div {
		display: flex;
		flex-direction: column;
		width: 1000px;

		> a {
			margin-top: 5px;
			text-decoration: none;
			font-family: "Roboto";
			font-size: 18px;
			font-weight: 400;
			color: #000;
			cursor: pointer;
			transition: all 0.3s ease-out;
		}
		> a:hover {
			/* transition: all 0.3s ease-out; */
			text-decoration: underline;
			color: blue;
		}

		> p {
			margin: 0;
			margin-top: 5px;
			padding-bottom: 5px;
			font-family: "Roboto";
			font-size: 16px;
			font-weight: 400;
			color: #00000080;
		}
	}
}

@keyframes move-blur {
	from {
		filter: blur(0);
	}
	50% {
		transform: scaleX(1.4);
		filter: blur(2px);
	}
	to {
		filter: blur(0);
	}
}

@font-face {
	font-family: "Roboto";
	src: url("./Roboto.ttf");
}

html {
	scroll-behavior: smooth;
}
